a {
  margin-top:30px;
  color: inherit;
}

.About {
  display:inline-grid;
  font-family: 'Fredoka One';
  font-size: 30px;
  margin:0 auto;
  max-width: 100%;
  padding: 40px 200px;
  text-align: center;
}

.banner {
  background-image: url("images/millenial-women-on-phone.jpg");
  background-color: blue
  color: #CC2936;
  height:600px;
  width:100%;
}

body {
  font-family: 'Baloo Tamma', cursive;
  margin: 0;
  display:block;
  align-items: center;
  max width: 100%;
}

.buttons {
  background-color: #CC2936
}

.heading {
  text-decoration: none;
}

footer {
  height:200px;
  background-color:#08415C;
  display:block;
  text-align: center;}

h1 {
    text-decoration: none;
    color: #EEE5E9;
    padding-top: 50px;
    font-family: 'Baloo Tamma', cursive;
    text-align: center;
    font-size:60px;
  }

header {
    font-family: 'Baloo Tamma', cursive;
    background-color:#08415C;
    text-align: center;
    width:100%;
  }

iframe {
    border: 0;
  }

login.fields {
    padding-top:100px;
    padding-left:200px;
    100px;
  }

.mission-statement {
    color: #FFE100;
    padding: 80px 0 0 75px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    text-align: left;
  }

.search-home {
    color: #EEE5E9;
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
  }

  .twitter-box {
    background-color: green;
  }

  .top-videos {
    background-color: #F1BF98;
    display:block;
    margin:0 auto;
    text-align: center;
  }

  .top-videos div {
    background-color: #F1BF98;
    display: inline-block;
    margin: 0 6px;
  }

  .top-videos-heading {
    padding-top: 20px;
  }

.twitter-sign-in {
    color: #EEE5E9;
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
  }


div.Dropdown-placeholder {
  display:block;
  margin:0,auto;
}

.user-game {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.profile-pic {
  height: 100px;
  border: 2px solid black;
}

.left {
  height: 100px;
  position: relative;
}

.right {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.level {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 5rem;
  color: red;
}

.user-name {
  border: 2px solid black;
  margin-bottom: 0;
}

.levelXp {
  border: 2px solid black;
  margin-bottom: 0;
  height: 30px;
}

.totalXp {
  height: 28px;
  border: 2px solid green;
  background-color: green;
  margin-bottom: 0;
}
