a {
  margin-top:30px;
  color: inherit;
}

.About {
  display:inline-grid;
  font-family: 'Fredoka One';
  font-size: 30px;
  margin:0 auto;
  max-width: 100%;
  padding: 40px 200px;
  text-align: center;
}

.banner {
  background-image: url("images/millenial-women-on-phone.jpg");
  background-color: blue
  color: #CC2936;
  height:600px;
  width:100%;
}

body {
  font-family: 'Baloo Tamma', cursive;
  text-align: center;
}

.twitter-sign-in {
  text-decoration: none;
  padding-left: 500px;
}

.mission-statement {
  background: url(images/millenial-women-on-phone.jpg) no-repeat;
  height:400px;
  background-size: cover;
  display:block;
  margin: 0, auto;
  font-family: 'Pacifico', cursive;
  padding-top:300px;
  font-size: 30px;
  color:rgba(255,255,255,0.85);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.About {
  display:inline-grid;
  margin:0 auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom:100px;
  font-size: 20px;
  max-width: 600px;
}

.top-videos {
  margin: 0;
  display:block;
  align-items: center;
  max width: 100%;
}

.buttons {
  background-color: #CC2936
}

.heading {
  text-decoration: none;
}

footer {
  height:200px;
  background-color:#08415C;
  display:block;
  text-align: center;}

h1 {
    text-decoration: none;
    color: #EEE5E9;
    padding-top: 50px;
    font-family: 'Baloo Tamma', cursive;
    text-align: center;
    font-size:60px;
  }

header {
    font-family: 'Baloo Tamma', cursive;
    background-color:#08415C;
    text-align: center;
    width:100%;
  }

iframe {
    border: 0;
  }

login.fields {
    padding-top:100px;
    padding-left:200px;
    100px;
  }

.mission-statement {
    color: #FFE100;
    padding: 80px 0 0 75px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    text-align: left;
  }

.search-home {
    color: #EEE5E9;
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
  }

  .twitter-box {
    background-color: green;
  }

  .top-videos {
    background-color: #F1BF98;
    display:block;
    margin:0 auto;
    text-align: center;
  }

  .top-videos div {
    background-color: #F1BF98;
    display: inline-block;
    margin: 0 6px;
  }

  .top-videos-heading {
    padding-top: 20px;
  }

.twitter-sign-in {
    color: #EEE5E9;
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
  }

/* --------------------- SKILL PAGE STYLING MAN ------------------------------ */

.skillTitle {
  color: black;
}

.searchBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

select {
  font-size: 1.5em;
  display: inline-flex;
  margin-top: 2%;
  flex-direction: row;
}

.cat {
  width: 300px;
  margin-right: 1%;
  text-align-last: center;
}

.diff {
  width: 300px;
  margin-left: 1%;
  margin-right: 1%;
  text-align-last: center;
}

.skill {
  width: 300px;
  margin-left: 1%;
  text-align-last: center;
}

.category {
  font-size: 4em;
}

.difficulty {
  font-size: 4em;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.skill-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  height: 720px;
}

.skill-video iframe {
  width: 80%;
  height: 100%;
}

.skill-video a, .skill-video p {
  font-size: 2em;
}
/* ------------------- PROFILE / CONTRIBUTOR STYLE ----------*/

.user-profile,
.contributor-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------- USER GAME STYLE ----------------------*/

.skill-suggestion {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 5rem;
  min-width: 600px;
}

.suggested-skill {
  font-size: 3rem;
}

.suggestion-answer {
  display: flex;
  justify-content: space-between;
}

/* ------------------- USER SKILL LIST STYLE ---------------*/

.skill-list .select-upload * {
  margin-right: 1rem;
}

.upload-url {
  width: 50%;
}

.delete-button {
  top: 0;
  width: 2rem;
  margin-left: 1.5rem;
}

/* ------------------- USER GAME STYLE ----------------------*/

.user-game {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.profile-pic {
  height: 100px;
  border: 4px solid black;
}

.left {
  height: 100px;
  position: relative;
}

.right {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.level {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 5rem;
  color: #2e383c;
}

.user-name {
  font-size: 2rem;
  border-top: 4px solid black;
  border-right: 4px solid black;
  margin-bottom: 0;
  padding-left: 1rem;
}

.levelXp {
  border-right: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin-bottom: 0;
  height: 30px;
}

.totalXp {
  height: 22px;
  border: 4px solid green;
  background-color: green;
  margin-bottom: 0;
}

.label {
    padding-left: 1rem;
}
